{% load i18n mezzanine_tags comment_tags %}
<div class="comment-form">

<p class="muted">Obligatoriske felt er indikert med (*)</p>
	<form method="post" id="comment-form" action="{{ comment_url }}#comment">
   
	{% for hidden in comment_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
	{% csrf_token %}
    <div class="row-fluid">
		<div class="span4">
			 <input type="text" value="{{comment_form.name.value}}" name="name" maxlength="50" id="id_name" class="" placeholder="* Skriv inn navn" class="input-block-level">
			  
		</div>
		<div class="span4">
			 <input type="email" value="{{comment_form.email.value}}" name="email" id="id_email" placeholder="* Skriv inn e-postadresse" class="input-block-level">
			
		</div>

		
			 <textarea rows="10" name="comment"id="message" class="input-block-level" placeholder="* Skriv kommentar her..."></textarea>
			
		<p>
			<button type="submit" class="btn btn-large btn-primary">{% trans "Send" %}</button>
				
		</p>	
		
		
	
	</div>
</form>
</div>
